body{background-color: #7F675B;
    font-family: 'Roboto Condensed', sans-serif;
}

h1{font-family: 'Slabo 27px', serif;
color: #F0FFF1;
    margin:30px;
}
h3{font-family: 'Slabo 27px', serif;
color: #F0FFF1;
    margin:20px;
}

p{color:  whitesmoke;
font-size: 20px;}

.navbar, .bg-light, .navbar-light{
    background-color: #D56659;
}

.jumbotron{background-color: #282b28}
    #141115 ;}
#16001e
  
section{
                height:400px;
                background-color: coral;
                margin-bottom: 10px;
     
                
            }
img{margin-top: 20px;}